{% block extends %}
{{ "{% extends '" ~ applicationName ~ "BackendBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block import %}
{{ "{% from '" ~ applicationName ~ "BackendBundle:User:macros.html.twig' import list %}" }}
{% endblock import %}

{% block body %}
{{ "{% block title %}{{ '" ~ applicationName|lower ~ "_backend.title.users.index'|trans }}{% endblock %}" }}

{{ "{% block breadcrumb %}" }}
    <ol class="breadcrumb">
        <li><a href="{{ "{{ path('" ~ applicationName|lower ~ "_dashboard') }}" }}">{{ "{{ '" ~ applicationName|lower ~ "_backend.title.dashboard'|trans }}" }}</a></li>
        <li>{{ "{{ '" ~ applicationName|lower ~ "_backend.title.users.index'|trans }}" }}</li>
    </ol>
{{ "{% endblock %}" }}

{{ "{% block content %}" }}
    {{ "{{ actions.add(path('" ~ applicationName|lower ~ "_backend_user_create'), null, '" ~ applicationName|lower ~ ".user.create') }}" }}
    {{ "{{ list(users) }}" }}
    {{ "{{ actions.pagination(users) }}" }}
{{ "{% endblock %}" }}
{% endblock body %}
