{% block extends %}
{{ "{% extends '" ~ applicationName ~ "BackendBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block import %}
{{ "{% from '" ~ applicationName ~ "BackendBundle:User:macros.html.twig' import show %}" }}
{% endblock import %}

{% block body %}
{{ "{% block title %}{{ '" ~ applicationName|lower ~ "_backend.title.users.show'|trans }}{% endblock %}" }}

{{ "{% block breadcrumb %}" }}
    <ol class="breadcrumb">
        <li><a href="{{ "{{ path('" ~ applicationName|lower ~ "_dashboard') }}" }}">{{ "{{ '" ~ applicationName|lower ~ "_backend.title.dashboard'|trans }}" }}</a></li>
        <li><a href="{{ "{{ path('" ~ applicationName|lower ~ "_backend_user_index') }}" }}">{{ "{{ '" ~ applicationName|lower ~ "_backend.title.users.index'|trans }}" }}</a></li>
        <li>{{ "{{ user.username }}" }}</li>
    </ol>
{{ "{% endblock %}" }}

{{ "{% block content %}" }}
    {{ "{{ actions.cancel(path('" ~ applicationName|lower ~ "_backend_user_index'), '" ~ applicationName|lower ~ "_backend.button.return'|trans) }}" }}
    {{ "{{ actions.edit(path('" ~ applicationName|lower ~ "_backend_user_update', {'id': user.id}), null, '" ~ applicationName|lower ~ ".user.update') }}" }}

    {{ "{% if user.id is not sameas(app.user.id) and not user.deleted and is_resource_granted('" ~ applicationName|lower ~ ".accounts') %}" }}
        {{ "{{ actions.default(path('homepage', {'_switch_user': user.username}), '" ~ applicationName|lower ~ "_backend.button.switch_user'|trans({ '%username%': user.username })) }}" }}
    {{ "{% endif %}" }}

    {{ "{{ show(user) }}" }}
{{ "{% endblock %}" }}
{% endblock body %}
